In [1]:
import numpy as np
import pandas as pd

### Criando um DataFrame
A célula de código a seguir cria um simples DataFrame contendo 10 células organizadas em:
- 5 linhas
- 2 colunas, uma chamada temperatura e a outra chamada atividade.
A célula de código a seguir instancia um pd.DataFrame class que gera um DataFrame. A classe recebe dois argumentos:
- O primeiro argumento provê os dados que irão preencher as 10 células. A chamada np.array gera um array 5x2.
- O segundo argumento identifica os nomes das duas colunas.

In [2]:
my_data = np.array([[0,3], [10, 7], [20, 9], [30, 14], [40, 15]])

my_column_names = ['temperature', 'activity']

my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

### Adicionando uma nova columa ao DataFrame
Você pode adicionar uma nova coluna em um DataFrame existente apenas atribuindo valores a uma nova coluna. Por exemplo, o código a seguir cria uma terceira coluna chamada `adjusted` em `my_dataframe`:

In [3]:
my_dataframe['adjusted'] = my_dataframe['activity'] + 2

print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

### Especifindo um subconjunto de um DataFrame
O Pandas provê multiplas maneiras de isolar linhas, colunas, fatias ou células individuais de um DataFrame.

In [4]:
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3))

print("Row #2:")
print(my_dataframe.iloc[2])

print("Column 'temperature':")
print(my_dataframe['temperature'])

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
Row #2:
temperature    20
activity        9
adjusted       11
Name: 2, dtype: int64
Column 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64

### Tarefa 1: Crie um DataFrame
1. Crie um pandas DataFrame 3x4 (3 linhas e 4 colunas) onde as colunas serão chamadas `Eleanor`, `Chidi`, `Tahani` e `Jason`. Preencha cada uma das 12 células com um número inteiro entre 0 e 100, inclusive.
2. A saída:
    - Todo o DataFrame
    - O valor da célula da linha #1 da coluna `Eleanor`
3. Crie uma quinta coluna chamada `Janet`, preencha linha por linha com a soma dos valores de `Tahani` e `Jason`.

In [ ]:
# Como escrevi inicialmente, mas existe um jeito mais fácil sem list comprehension
#my_data_task = [np.random.randint(0, 101, 4) for _ in range(3)]

my_data_task = np.random.randint(low=0, high=101, size=(3, 4))

my_column_names_task = ['Eleanor', 'Chidi', 'Tahani', 'Jason']

my_dataframe_task = pd.DataFrame(data=my_data_task, columns=my_column_names_task)
print(my_dataframe_task)

print()
print("Column 'Eleanor', row #1")
print(my_dataframe_task.Eleanor.get(1))

my_dataframe_task['Janet'] = my_dataframe_task['Tahani'] + my_dataframe_task['Jason']
print(my_dataframe_task)

   Eleanor  Chidi  Tahani  Jason
0       96     41      65     41
1       60     54      54     89
2       32     17      18     37

Column 'Eleanor', row #1
60
   Eleanor  Chidi  Tahani  Jason  Janet
0       96     41      65     41    106
1       60     54      54     89    143
2       32     17      18     37     55

### Copiando um DataFrame
Existem duas diferentes maneiras de duplicar um DataFrame no Pandas:
- Por referência. Se você atribui um DataFrame a uma nova variável, qualquer alteração no DataFrame original irá refletir na nova variável.
- Por cópia. Se você chamar o método `pd.DataFrame.copy`, você cria uma cópia independente do DataFrame original. Qualquer alteração no DataFrame original não irá refletir na cópia.

In [ ]:
print("experimentando cópia por referência:")
my_dataframe_task_ref = my_dataframe_task